@model Fitbod.Models.ExercisePlanEntry

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet øvelse</h1>

<h3>Er du sikker på du vil slette denne øvelse?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repetitions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
    </dl>
    
    <form asp-action="EntryDelete">
        <input type="hidden" asp-for="EntryId" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til Planoversigt</a>
    </form>
</div>
