@model Fitbod.Models.ExercisePlanEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExercisePlanEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repetitions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EntryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
