@model IEnumerable<Fitbod.Models.ExercisePlanEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Øvelsesoversigt</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Navn")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetitions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th>
                @Html.DisplayName("Dag")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repetitions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="ExercisePlans" asp-action="EntryEdit" asp-route-id="@item.EntryId">Ændre</a> |
                    <a class="btn btn-danger btn-sm" asp-action="EntryDelete" asp-route-id="@item.EntryId">Fjern</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary btn-sm" asp-action="Index">Tilbage til Planoversigt</a>
</div>