@model IEnumerable<Fitbod.Models.WeeklyFoodPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WfpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WfpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WfpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
