@model IEnumerable<Fitbod.Models.TeamSignUp>

@{
    ViewData["Title"] = "Tilmeldinger";
}

<h1>Se nuværende tilmeldinger</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Hold navn")
            </th>
            <th>
                @Html.DisplayName("Afholdelses tidspunkt")
            </th>
            <th>
                @Html.DisplayName("Beskrivelse")
            </th>
            <th>
                @Html.DisplayName("Rum")
            </th>
            <th>
                @Html.DisplayName("Træner")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingClass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingClass.DateTime)<span><br>@Html.DisplayFor(modelItem => item.TrainingClass.DateTime.TimeOfDay)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingClass.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingClass.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingClass.Trainer)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary btn-sm" asp-action="Index">Tilbage til holdtræning oversigt</a>
</div>
