@model IEnumerable<Fitbod.Models.TrainingClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Holdtræning</h1>



@{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Opret nyt træningshold</a>
        </p>
    }
}
<div>
    <a asp-action="UserSignupsIndex">Se tilmeldinger</a>
</div>

<div>
    <p class="alert-danger col-6">@ViewData["FullTeamerror"]</p>
</div>
<div>
    <p class="alert-danger col-6">@ViewData["AllReadySignedError"]</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Navn")
            </th>
            <th>
                @Html.DisplayName("Dato og tidspunkt")
            </th>
            <th>
                @Html.DisplayName("Info")
            </th>
            <th>
                @Html.DisplayName("Rum")
            </th>
            <th>
                @Html.DisplayName("Træner")
            </th>
            <th>
                @Html.DisplayName("Maks antal")
            </th>
            <th>
                @Html.DisplayName("Antal tilmeldte")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)<span><br>@Html.DisplayFor(modelItem => item.DateTime.TimeOfDay)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainer)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MaxSignUp)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Signups)
                </td>
                <td>
                    <a asp-action="TrainingClassSignup" asp-route-id="@item.Id">Tilmeld</a> |
                    <a asp-action="DeleteSignup" asp-route-id="@item.Id">Afmeld</a>
                </td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
