@model Fitbod.Models.WeekDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeekDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dish.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyFoodPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyFoodPlan.WfpId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WeekDayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
