@model Fitbod.Models.Exercise

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet øvelse</h1>

<h3>Er du sikker på du vil slette denne øvelse?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Navn")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Muskelgruppe")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musclegroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Beskrivelse")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Billede")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExerciseId" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-action="Index">Tilbage til øvelsesoversigt</a>
    </form>
</div>
